In [3]:
# prompt: install python and releated things

!apt-get update -y
!apt-get install python3.9 python3-pip python3-venv -y

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:5 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease [24.3 kB]
Hit:6 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:7 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:9 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,159 kB]
Get:10 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,318 kB]
Ign:11 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:12 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Hit:13 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:14 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Get:15 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy/main amd64 Packages [54.3 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,596 kB]
Get:17 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,370 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,447 kB]
Get:19 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,593 kB]
Fetched 18.8 MB in 3s (5,518 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
^C

In [4]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=d5cd334608f853ea7bf1050d780fbb8cb02e592878b23cb9497a4011e59753d3
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [5]:
import pyspark
import pandas as pd

In [6]:
import pandas as pd
pd.read_csv('/content/sample_data/california_housing_test.csv')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.Builder().appName('Practice').getOrCreate()

In [9]:
spark

In [10]:
df_pyspark= spark.read.option('header','True').csv('/content/sample_data/california_housing_test.csv')

In [11]:
df_pyspark.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [12]:
df_column = df_pyspark.select('housing_median_age').show()

+------------------+
|housing_median_age|
+------------------+
|         27.000000|
|         43.000000|
|         27.000000|
|         28.000000|
|         19.000000|
|         37.000000|
|         43.000000|
|         19.000000|
|         15.000000|
|         31.000000|
|         45.000000|
|         37.000000|
|         36.000000|
|         16.000000|
|         27.000000|
|         42.000000|
|         15.000000|
|         26.000000|
|         26.000000|
|         35.000000|
+------------------+
only showing top 20 rows

In [13]:
type(df_pyspark.select('housing_median_age'))

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.describe().show()

+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|    total_bedrooms|        population|        households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|  count|               3000|              3000|              3000|             3000|              3000|              3000|              3000|              3000|              3000|
|   mean|-119.58920000000029| 35.63538999999999|28.845333333333333|2599.578666666667| 529.9506666666666|1402.7986666666666|           489.912| 3.807271799999998|        205846.275|
| stddev| 1.9949362939550166|2.1296695233438334|12.555395554955757|2155.593331625582|415.65436813632306|1030.5430124122424|365.42270980552615|1.8545117296914775|113119.68746964622|
|    min|        -114.490000|         32.560000|          1.000000|      1000.000000|        100.000000|        100.000000|         10.000000|          0.499900|     100000.000000|
|    max|        -124.180000|         41.920000|          9.000000|      9998.000000|        999.000000|        999.000000|        998.000000|          9.870800|      99800.000000|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+

In [15]:
# prompt: add a column

# Add a new column named 'new_column' with a constant value of 1
df_pyspark = df_pyspark.withColumn('double_rooms', df_pyspark['total_rooms']*2)

# Show the updated DataFrame
df_pyspark.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|double_rooms|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|      7770.0|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|      3020.0|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|      7178.0|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|       134.0|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|      2482.0|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|      2036.0|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|      2018.0|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|      4620.0|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|      6160.0|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|      4804.0|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|      1944.0|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|      1472.0|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|      2178.0|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|      7872.0|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|      4194.0|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|       322.0|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|      1140.0|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|      6154.0|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|      3180.0|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|     17628.0|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+------------+
only showing top 20 rows

In [16]:
df_pyspark = df_pyspark.drop('double_rooms')
df_pyspark.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [17]:
# prompt: how to see rows having one or more missing values

from pyspark.sql.functions import col,isnan, when, count

df_pyspark.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_pyspark.columns]).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|        0|       0|                 0|          0|             0|         0|         0|            0|                 0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+

In [18]:
df_pyspark = df_pyspark.na.drop(how = "any")

In [19]:
# prompt: coutn no of rows

df_pyspark.count()

3000

In [27]:
# prompt: imputer function from pyspark

from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['housing_median_age', 'total_rooms'],
    outputCols=["{}_imputed".format(c) for c in ['housing_median_age', 'total_rooms']]
    ).setStrategy("mean")

# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+--------------------------+-------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|housing_median_age_imputed|total_rooms_imputed|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+--------------------------+-------------------+
|-122.050000|37.370000|              27.0|     3885.0|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|                      27.0|             3885.0|
|-118.300000|34.260000|              43.0|     1510.0|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|                      43.0|             1510.0|
|-117.810000|33.780000|              27.0|     3589.0|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|                      27.0|             3589.0|
|-118.360000|33.820000|              28.0|       67.0|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|                      28.0|               67.0|
|-119.670000|36.330000|              19.0|     1241.0|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|                      19.0|             1241.0|
|-119.560000|36.510000|              37.0|     1018.0|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|                      37.0|             1018.0|
|-121.430000|38.630000|              43.0|     1009.0|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|                      43.0|             1009.0|
|-120.650000|35.480000|              19.0|     2310.0|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|                      19.0|             2310.0|
|-122.840000|38.400000|              15.0|     3080.0|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|                      15.0|             3080.0|
|-118.020000|34.080000|              31.0|     2402.0|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|                      31.0|             2402.0|
|-118.240000|33.980000|              45.0|      972.0|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|                      45.0|              972.0|
|-119.120000|35.850000|              37.0|      736.0|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|                      37.0|              736.0|
|-121.930000|37.250000|              36.0|     1089.0|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|                      36.0|             1089.0|
|-117.030000|32.970000|              16.0|     3936.0|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|                      16.0|             3936.0|
|-117.970000|33.730000|              27.0|     2097.0|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|                      27.0|             2097.0|
|-117.990000|33.810000|              42.0|      161.0|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|                      42.0|              161.0|
|-120.810000|37.530000|              15.0|      570.0|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|                      15.0|              570.0|
|-121.200000|38.690000|              26.0|     3077.0|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|                      26.0|             3077.0|
|-118.880000|34.210000|              26.0|     1590.0|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|                      26.0|             1590.0|
|-122.590000|38.010000|              35.0|     8814.0|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|                      35.0|             8814.0|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+--------------------------+-------------------+
only showing top 20 rows

In [25]:
# prompt: column data types convert

df_pyspark.printSchema()

from pyspark.sql.types import IntegerType, DoubleType

df_pyspark = df_pyspark.withColumn("housing_median_age", df_pyspark["housing_median_age"].cast(DoubleType()))
df_pyspark = df_pyspark.withColumn("total_rooms", df_pyspark["total_rooms"].cast(DoubleType()))

df_pyspark.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [32]:
df_pyspark.filter("total_rooms>2500").select(['latitude','total_rooms','households','median_income']).show()

+---------+-----------+-----------+-------------+
| latitude|total_rooms| households|median_income|
+---------+-----------+-----------+-------------+
|37.370000|     3885.0| 606.000000|     6.608500|
|33.780000|     3589.0| 495.000000|     5.793400|
|38.400000|     3080.0| 599.000000|     3.669600|
|32.970000|     3936.0| 659.000000|     4.562500|
|38.690000|     3077.0| 595.000000|     2.717400|
|38.010000|     8814.0|1258.000000|     6.172400|
|34.070000|     2994.0| 561.000000|     3.864400|
|33.280000|     6131.0| 940.000000|     3.815600|
|37.760000|     3587.0| 979.000000|     2.540300|
|33.990000|     2612.0| 402.000000|     6.603000|
|34.070000|     4845.0|1539.000000|     1.583000|
|34.010000|     3078.0| 901.000000|     3.485200|
|39.310000|     3442.0| 619.000000|     2.810200|
|34.550000|    16181.0|2651.000000|     4.523700|
|34.000000|     2886.0| 728.000000|     2.625000|
|34.230000|     5785.0| 985.000000|     4.693000|
|32.770000|     2770.0| 429.000000|     6.678300|
|33.170000|     9998.0|1672.000000|     4.282600|
|33.780000|     7399.0|1593.000000|     3.104900|
|37.700000|     9849.0|1780.000000|     3.587700|
+---------+-----------+-----------+-------------+
only showing top 20 rows